    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a class="navbar-logo" href="#">Regift.tech</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts<span class="caret"></span></a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Post a Gift</a>
            <a href="#" class="dropdown-item">Get a Gift</a>
            <a href="#" class="dropdown-item">Add New Station</a>
          </div>
        </li>
        <li>Login</li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Did you get another terrible gift at your office holiday party?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <input type="submit" class="btn-main btn" value="Regift!" />
        </div>
      </div>
    </div>
