<h1>All Gifts</h1>

<% @gifts.each do |gift| %>
<%= gift.name %>
<<<<<<< HEAD
<%= gift.description %>
=======
<%= image_tag gift.image_url %>
>>>>>>> 54f8b3fbf2c6ca6bc17228bb0f34d7b654c1d89b
<% end %>
